.card{
  margin: 20px;
}


md-card{
  margin: 10px;
}

.button{
	margin-top: 20px;
	text-align: center;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
