<md-toolbar color='primary'>
  <span>Wellness Program</span>
</md-toolbar>

<md-card class="challenge-card">
  <md-card-header fxLayoutAlign="start stretch">
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title><h1>{{ challenge.name }}</h1></md-card-title>
  </md-card-header><hr>
  <md-card-content>
    <h4>Description:</h4>
    <p>
      {{ challenge.description }}
    </p>
    <h4>Date/heure de début:</h4>
    <p>
     {{ challenge.startDate | date:'short' }}
    </p>
    <h4>Date/heure de fin:</h4>
    <p>
      {{ challenge.endDate | date:'short' }}
    </p>
    <h4>Equipes:</h4>
    <div *ngFor="let team of challenge.teams">
      <md-chip-list>
        <md-chip *ngIf="team != null">{{ team }}</md-chip>
      </md-chip-list>
    </div>
  </md-card-content>

  <md-card-actions fxLayoutAlign="end">
    <button md-button (click)="goToChallengesList()">CHALLENGES</button>
    <button md-button (click)="goToListTeams()" >AJOUTER UNE EQUIPE</button>
    <button md-button [routerLink]="['challenge-edit']">EDITER</button>
    <button md-button  (click)="deleteChallenge(challenge._id)">SUPPRIMER</button>
  </md-card-actions>
</md-card>










<!-- <div class="container">
  <h1>{{ challenge.name }}</h1>
  <dl class="list">
    <dt>Nom challenge</dt>
    <dd>{{ challenge.name }}</dd>
    <dt>Description challenge</dt>
    <dd>{{ challenge.description }}</dd>
  </dl>
</div>


<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/challenge-edit', challenge._id]" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteChallenge(challenge._id)">DELETE</button>
  </div>
</div> -->
