.card{
	width: 50%;;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}

.app-toolbar-filler{
  flex: 1 1 auto;
}

p{
  text-align: center;
}




