<div fxLayoutAlign="center">
  <md-card  class="title-card"><h1>Liste des Challenges</h1></md-card>
</div>

<div class="card">
  <form novalidate>
    <md-card *ngFor="let challenge of challenges">

      <md-card-header>
        <div fxLayoutAlign="start">
          <md-card-title>{{challenge.name | uppercase}}</md-card-title>
        </div>
      </md-card-header>

      <div fxLayoutAlign="end">
        <md-checkbox name="selected" [(ngModel)]="challenge.selected" [value]="challenge.name"
                     (change)="updateChecked()" ></md-checkbox>
      </div>
    </md-card>
  </form>

</div>












