<md-toolbar color='primary'>
  <span>Wellness Program</span>

  <span class="app-toolbar-filler"></span>
  <button md-button>{{ user.firstName | uppercase }} {{ user.lastName | uppercase}}</button>

</md-toolbar>


  <md-card class="card" >
    <md-card-header fxLayoutAlign="center">
      <md-card-title >
        <h2>LISTE DES EQUIPES</h2>
      </md-card-title>
    </md-card-header>
    <md-grid-list cols="3"  rowHeight="3:1" >
      <md-grid-tile fxLayoutGap="10px" *ngFor="let team of teams">
        <md-list class="app-list">
          <md-list-item>
            <h3 md-line> <md-icon md-prefix>group</md-icon> {{ team.name | uppercase}}</h3><br>
          </md-list-item>
          <div fxLayoutAlign="end">
            <a  md-raised-button color="primary"  [routerLink]="['/home-page-admin/'+idAdmin+'/teams/'+team._id]">DETAILS</a>
          </div>
        </md-list>
      </md-grid-tile>
    </md-grid-list>
  </md-card>


<span class="app-action-right">
  <a md-fab color="primary" [routerLink]="['/home-page-admin/'+idAdmin+'/team-create']"><md-icon>add_box</md-icon></a>
</span>

<span class="app-action-left">
  <a md-fab color="primary" (click)="goTohomePage()" ><md-icon>home</md-icon></a>
</span>









<!--<md-grid-list class="grid-list" cols="2" rowHeight="2:1">
  <md-grid-tile *ngFor="let team of teams">
    <md-card fxLayoutGap="10px" class="card" >
      <md-card-header fxLayoutAlign="start">
        <md-card-title> <h3>{{team.name | uppercase}}</h3></md-card-title>
      </md-card-header>
      <img md-card-image height="150px" src="assets/team.jpg">
      <md-card-content fxLayoutAlign="start">
        <h3>Membres:</h3>  {{team.members}}
       <p>

        </p>
      </md-card-content>
      <md-card-actions fxLayoutAlign="end">
        <a  md-raised-button [routerLink]="['/team-details', team._id]">DETAILS</a>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>-->



